@model WeatherCity
<!DOCTYPE html>
<html>
<head>
    <title>WeatherApp</title>
    <meta charset="utf-8" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1 class="margin-bottom">
        Weather
    </h1>
    @{
        string cardClass(int temp)
        {
            if (temp < 44)
            {
                return "blue-back";
            }
            if (temp >= 44 && temp < 70)
            {
                return "green-back";
            }
            if (temp > 74)
            {
                return "orange-back";
            }
            return null;
        }
    }

        @{
            if (Model != null)
        {
            <div class="flex ">
                <div class="box @cardClass(Model.TemperatureFah) w-25">
                    <div class="flex-borderless">
                        <div class="w-50">
                            <h3>@Model.CityName</h3>
                            <p>@Model.DateAndTime.ToShortTimeString()</p>
                            <a href="">Details</a>
                        </div>
                        <div class="border-left padding-left">
                            <h2>@Model.TemperatureFah °F</h2>
                        </div>
                    </div>
                    <a href="/">Back to the home page</a>
                </div>
            }
            </div>
        }
        else
            {
                <div class="box">
                    <div class="text-center">
                   <h3>@ViewData["error"]</h3>
                    </div>
                </div>
            }
        }
        
        

       
</body>
</html>
